@import 'utility/mediaqueries';
@import 'utility/mixins';
@import 'utility/reset';
@import 'utility/slick';
@import 'utility/variables';
@import '../fonts/eina/eina';

%full-screen {
  width: 100%;
  height: 100%;
}

%no-spacing {
  margin: 0;
  padding: 0;
}

%h1-title {
  color: $gold-color;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.2rem;
  text-transform: uppercase;
  @include mq-s {
    font-size: 1.6rem;
  }
}

%button-download {
  width: auto;
  color: white;
  display: block;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0rem;
  background-color: $gold-color;
  text-transform: uppercase;
  margin: auto;
}

html.landingpage {
  @extend %full-screen;
  @extend %no-spacing;
  font-size: 17px;
  line-height: 1.4rem;
  @include mq-s {
    font-size: 12px;
  }
  body {
    @extend %full-screen;
    @extend %no-spacing;
    padding: $gutter 0;
    color: $brown-color;
    font-family: 'Eina01';
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    h1 {
      text-align: center;
    }

    a.btn-download {
      @extend %button-download;
      display: flex;
      align-items: center;
      width: 280px;
      max-width: 280px;
      margin-top: 1.5rem;
      position: relative;
      padding: 0;
      text-decoration: none;
      > img {
        flex: auto;
        width: 35% !important;
        max-width: 35% !important;
        display: block;
      }
      > span {
        top: 0;
        right: 0;
        width: 55%;
        max-width: 55%;
        margin-left: 5%;
        margin-top: 5px;
        flex: auto;
        display: block;
        text-align: left;
        line-height: 1.2rem;
        font-weight: 400;
      }
      @include mq-s {
        display: none;
      }
      &.mobile {
        display: none;
        @include mq-s {
          display: flex;
          > span {
            font-size: 1.4rem;
            line-height: 1.7rem;
          }
        }
      }
    }

    @include mq-m {
      padding: 0;
    }

    > section.landingpage {
      width: 70%;
      max-width: 1200px;
      margin: auto;
      margin-bottom: $gutter;
      background-color: white;
      -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.5);

      @include mq-l {
        width: 90%;
      }

      @include mq-m {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
      }

      img {
        width: 100%;
        max-width: 100%;
        display: block;
      }
      > header {
        > .informations {
          color: white;
          text-align: center;
          padding: $gutter 60px;
          background-color: $red-color;
          @include mq-s {
            padding: $gutter;
          }
          > h1 {
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-weight: 600;
            @include mq-s {
              font-size: 1.2rem;
              line-height: 1.6rem;
            }
            &:after {
              content: '';
              height: 2px;
              width: 150px;
              display: block;
              margin: auto;
              margin-top: 1.1rem;
              background-color: white;
            }
          }
          > p {
            width: 100%;
            margin: auto;
            font-size: 1.9rem;
            line-height: 2.2rem;
            display: block;
            text-align: center;
            font-weight: 500;
            @include mq-s {
              font-size: 1.7rem;
              line-height: 2rem;
            }
          }
        }
        > .featured {
          position: relative;
          > .logo {
            left: 35%;
            top: $gutter;
            width: 30%;
            position: absolute;
            @include mq-s {
              left: 30%;
              width: 40%;
              top: calc(#{$gutter} - 30px);
            }
          }
          > img {
            display: block;
          }
          > p {
            width: 100%;
            color: white;
            display: block;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 2rem;
            text-align: center;
            padding: $gutter/4 0;
            text-transform: uppercase;
            background-color: $gold-color;
            @include mq-s {
              font-size: 1.1rem;
              line-height: 1.8rem;
            }
          }
        }
      }
      .container {
        .content {
          width: 100%;
          padding: $gutter-x 0;

          h1 {
            @extend %h1-title;
            &:after {
              content: '';
              height: 2px;
              width: 150px;
              display: block;
              margin: auto;
              margin-top: 0.7rem;
              background-color: $gold-color;
            }
          }
          > .wrapper {
            text-align: center;
            width: calc(100% - #{$gutter-x*4});
            margin: auto;
            line-height: 1.5rem;
            @include mq-s {
              width: calc(100% - #{$gutter-x});
            }
          }
          &.multi-col {
            padding: 0 0;
            display: flex;
            flex-wrap: wrap;
            > .col-txt {
              order: 2;
              flex: auto;
              display: flex;
              align-items: center;
              width: 50%;
              padding: 0;
              @include mq-s {
                order: 1;
                width: 100%;
                padding: $gutter-x 0;
              }
              > .wrapper {
                margin: auto;
                width: calc(100% - #{$gutter-x*2});
                @include mq-s {
                  width: calc(100% - #{$gutter-x});
                }
                > h2 {
                  font-weight: 600;
                  font-size: 1.7rem;
                  line-height: 2rem;
                  color: $gold-color;
                  margin-bottom: 1rem;
                  text-transform: uppercase;
                }
                > p {
                  display: block;
                  width: 100%;
                  line-height: 1.5rem;
                  margin-bottom: 1.5rem;
                }
              }
            }
            > .col-img {
              order: 1;
              flex: auto;
              width: 50%;
              @include mq-s {
                width: 100%;
                order: 2;
              }
              > img {
                width: 100%;
                max-width: 100%;
                display: block;
              }
            }
            &.img-txt:nth-child(2n) {
              > .col-txt {
                order: 1;
              }
              > .col-img {
                order: 2;
              }
            }
          }
          &.contact {
            padding: $gutter-x 0;
            > h1 {
              @extend %h1-title;
              text-align: center;
              width: 100%;
              display: block;
              margin-bottom: $gutter*1.1;
              &:after {
                display: none;
              }
            }
            > .wrapper {
              width: calc(100% - #{$gutter*3});
              display: flex;
              flex-wrap: wrap;
              @include mq-s {
                width: calc(100% - #{$gutter-x});
              }
              > div {
                width: 55%;
                flex: auto;
                @include mq-s {
                  width: 100%;
                }
                &:first-child {
                  width: 35%;
                  margin-right: 10%;
                  @include mq-s {
                    width: 65%;
                    margin-bottom: $gutter;
                  }
                  > img {
                    max-width: 180px;
                    margin-bottom: 1rem;
                  }
                  > p {
                    font-weight: 500;
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                    text-align: left;
                    > a {
                      display: block;
                      font-size: 1.6rem;
                      font-weight: 500;
                      color: $gold-color;
                      margin-top: 0.4rem;
                      text-decoration: none;
                      &:after {
                        content: '';
                        height: 1px;
                        width: 100%;
                        max-width: 172px;
                        display: block;
                        margin-top: 0.65rem;
                        background-color: $brown-color;
                      }
                    }
                  }
                }
                > .wpcf7 {
                  width: 100%;
                  .screen-reader-response {
                    display: none;
                  }
                  form {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    > div {
                      width: 45%;
                      margin: 0 2%;
                      &:first-child {
                        width: 100%;
                        margin: 0;
                      }
                      > p {
                        text-align: left;
                        margin: 0 0 1.1rem 0;
                        > label {
                          font-size: 0.8rem;
                        }
                        > span {
                          padding: 0;
                          margin: 0;
                          width: 100%;
                          max-width: 100%;
                          > input, > select {
                            padding: 0.5rem 0.25rem;
                            margin: 0;
                            width: calc(100% - 0.5rem);
                            max-width: 100%;
                            border: 1px solid #efefef;
                            &.wpcf7-not-valid {
                              border-color: red;
                            }
                          }
                          > select {
                            width: 101%;
                            max-width: 101%;
                            padding: 0.4rem 0.25rem;
                            -webkit-appearance: button;
                            -webkit-border-radius: 2px;
                            -webkit-padding-end: 20px;
                            -webkit-padding-start: 2px;
                            -webkit-user-select: none;
                            background-image: url('../images/select-list.png');
                            background-color: #fff;
                            background-position: 97% center;
                            background-repeat: no-repeat;
                            border: 1px solid #efefef;
                            color: #555;
                            font-size: 0.8rem;
                            overflow: hidden;
                            white-space: nowrap;
                          }
                          span.wpcf7-not-valid-tip {
                            color: red;
                            font-size: 0.8rem;
                            display: block;
                          }
                        }
                      }
                    }
                    > p {
                      width: 96%;
                      text-align: left;
                      margin: 0 0 0.5rem 2%;
                      > label {
                        font-size: 0.8rem;
                      }
                      > span {
                        max-width: 100%;

                        > textarea {
                          width: 97%;
                          min-width: 97%;
                          max-width: 97%;
                          border: 1px solid #efefef;
                          &.wpcf7-not-valid {
                            border-color: red;
                          }
                        }
                        span.wpcf7-not-valid-tip {
                          color: red;
                          font-size: 0.8rem;
                          display: block;
                        }
                      }
                      > input[type="submit"] {
                        color: white;
                        font-weight: 600;
                        margin: auto;
                        border: none;
                        display: block;
                        font-size: 1rem;
                        padding: 0.3rem 1rem;
                        text-transform: uppercase;
                        background-color: $gold-color;
                      }
                      .ajax-loader {
                        width: 10px;
                        max-width: 10px;
                        display: none;
                      }
                    }
                    .wpcf7-response-output {
                      width: 100%;
                      margin-bottom: 1rem;
                      &.wpcf7-validation-errors {
                        color: red;
                      }
                      &.wpcf7-mail-sent-ok {
                        color: green;
                        border: none;
                      }
                    }
                  }
                }
              }
            }
          }
          &.img {
            padding: 0 0;
          }
          &.white {
            background-color: white;
          }
          &.grey {
            background-color: rgba(213,200,188,0.3);
          }
        }
      }
      footer {
        > div.footer {
          color: white;
          padding: $gutter 0;
          background-color: $gold-color;
          > p {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            text-align: center;
          }
          > a {
            > img {
              margin: auto;
              max-width: 190px;
            }
          }
        }
        > div.sub-footer {
          color: white;
          font-size: 0.7rem;
          text-align: center;
          padding: 0.5rem 0;
          background-color: $brown-color;
        }
      }
    }
  }
}

