@import 'utility/mediaqueries';
@import 'utility/rem';
@import 'utility/mixins';
@import 'utility/reset';
@import 'utility/slick';
@import 'utility/variables';
@import '../fonts/eina/eina';
@import '../fonts/icons/_icons.scss';

%full-screen {
  width: 100%;
  height: 100%;
}

%no-spacing {
  margin: 0;
  padding: 0;
}

%wrapper {
  @include wrapper($max-width, $pourcent-content);
}

%h1-title {
  color: $gold-color;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1rem;
  @include mq-s {
    font-size: 1.6rem;
  }
}

%button-download {
  width: auto;
  color: white;
  display: block;
  font-weight: 400;
  text-align: center;
  padding: 1rem 0rem;
  background-color: $gold-color;
  text-transform: uppercase;
  margin: auto;
}

iframe.fancybox-iframe {
  html {
    width: 100%;
    max-width: 100%;
    height: 100%;
    body {
      width: 100%;
      max-width: 100%;
      height: 100%;
      overflow: hidden;
      background-image: none;
      background-color: white;
    }
  }
}

.popup-sidbar {
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3300;
  .container {
    top: 50%;
    right: 0;
    width: 600px;
    transition: 800ms ease-in-out;
    transform: translate(100%, -50%);
    height: calc(65vh - 40px);
    position: absolute;
    z-index: 3500;
    padding: 20px 30px;
    background-color: white;
    overflow: hidden;
    @include mq-s {
      max-width: calc(100% - 60px);
    }
    > .icon {
      top: 20px;
      left: 20px;
      font-size: 20px;
      cursor: pointer;
      display: block;
      position: absolute;
      transition: all 200ms;
      &:hover {
        color: $gold-color;
      }
    }
  }
  &.opened {
    .container {
      transition: 200ms ease-in-out;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    }
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3400;
    background-color: rgba($brown-R,$brown-V,$brown-B,0.9);
  }
  iframe {
    width: 100%;
    height: calc(100% - 40px);
    margin-top: 30px;
    overflow: hidden;
    html, body {
      overflow: hidden;
    }
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200000;
  //display: none;
  background: rgba($brown-R,$brown-V,$brown-B,0.98);

  .showbox{
    position: relative;
    top: 50%;
    transform: translateY(-55%);
  }

  .loader-content {
    position: relative;
    margin: 0 auto;
    width: 100px;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    .circular {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
      stroke-linecap: round;
      stroke: $gold-color;
    }
  }
}

#smartcapture-form {
  width: 90%;
  max-width: 90%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  @include mq-s {
    overflow: initial;
  }
  section.smartcapture {
    width: 95%;
    max-width: 95%;
    margin: auto;
    #logoSmartCapture {
      width: 45%;
      max-width: 45%;
      margin: 0.5rem auto 1rem auto;
      > img {
        width: 100%;
        max-width: 100%;
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      margin: 1rem 0 2rem 0;
    }
  }
  > .wpcf7 {
    width: 95%;
    max-width: 95%;
    margin: auto;
    height: 100%;
    select {
      width: 100%;
      padding: 0.5rem 1%;
    }
    input {
      width: 98%;
      padding: 0.5rem 1%;
      margin-bottom: 0.5rem;
      &.wpcf7-form-control.wpcf7-submit {
        @extend %button-download;
        font-size: 1.2rem;
        font-weight: 400;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: 1.5rem;
      }
    }
    .wpcf7-response-output.wpcf7-mail-sent-ok {
      border: none;
      color: green;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

/*  START OFFICAL WEBSITE DESIGN */

html {
  @extend %full-screen;

  body {
    @extend %full-screen;
    @extend %no-spacing;
    color: $brown-color;
    font-family: 'Eina01';
    font-size: $font-size;

    &.tpl-contact {
      background-color: rgba(213,200,188,0.3);
    }

    h1 {
      @extend %h1-title;
    }

    p {
      font-weight: 400;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    img {
      @include width-col(100%);
    }

    a {
      color: $brown-color;
      text-decoration: none;
      &.cta {
        width: auto;
        display: inline-block;
        color: white;
        margin-top: $gutter/2;
        padding: 0.5rem 1rem;
        text-align: center;
        border-radius: 5px;
        background-color: $gold-color;
        &.fancybox-smartcapture {
          @include mq-s {
            display: none;
          }
        }
      }
      &.cta-mobile {
        display: none;
        @include mq-s {
          display: initial;
        }
      }
    }

    sup {
      top: -5px;
      font-size: 0.5rem;
      position: relative;
    }

    a.btn-download-page, a.btn-download {
      @extend %button-download;
      display: flex;
      align-items: center;
      align-items: center;
      width: 380px;
      max-width: 380px;
      position: relative;
      text-decoration: none;
      padding: 0;
      font-size: 1rem !important;
      > img {
        display: block;
        width: 35% !important;
        max-width: 35% !important;
      }
      > span {
        &:first-child {
          flex: auto;
          display: block;
          width: 35% !important;
          max-width: 35% !important;
          > img {
            width: 100%;
            max-width: 100%;
            display: block;
          }
        }
        &:last-child{
          top: 0;
          right: 0;
          width: 55%;
          max-width: 55%;
          margin-left: 5%;
          margin-top: 5px;
          flex: auto;
          display: block;
          text-align: left;
          line-height: 1.2rem;
          font-weight: 400;
        }
      }
      @include mq-s {
        display: none;
      }
      &.mobile {
        display: none;
        width: auto;
        max-width: initial;
        @include mq-s {
          display: flex;
          > span {
            font-size: 1rem;
            line-height: 1.2rem;
          }
        }
      }
    }


    .lot-content {
      h2 {
        font-size: 1rem;
        .lot-title {
          display: block;
          color: $brown-color;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.5rem;
        }
      }
      .bloc-flex {
        align-items: center;
      }
      .group-btn {
        margin-top: 10px;
        position: relative;
        z-index: 1000000;
        .btn-lot, .close-popup {
          color: white;
          display: inline-block;
          padding: 10px 15px;
          background-color: $brown-color;
          font-size: 1rem;
          margin-right: 10px;
          @include mq-s {
            display: block;
            text-align: center;
            margin-right: 0px;
            margin: auto;
            margin-bottom: 10px;
          }
        }
        .btn-download-file {
          color: white;
          display: inline-block;
          padding: 10px 15px;
          background-color: $gold-color;
          font-size: 1rem;
          @include mq-s {
            display: block;
            text-align: center;
            margin: auto;
          }
        }
      }
    }

    .detail-popup {
      .information {
        padding-bottom: $gutter/2;
        border-bottom: 1px solid $light-grey-color !important;
        .lot-details {
          font-size: 1rem;
          padding-bottom: $gutter/2;
          .popup-lot-title {
            color: $brown-color;
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 1.5rem;
          }
        }
        .lot-status {
          padding-bottom: $gutter/2;
        }
      }
      .group-btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: $gutter/2;
        border-top: 1px solid $light-grey-color;
        a {
          flex: auto;
          display: flex !important;
          color: white;
          border: none;
          padding: 10px 0;
          max-width: 250px;
          align-items: center;
          text-align: center;
          background-color: $gold-color;
          &:first-child {
            max-width: 100px;
            margin-right: 10px;
            background-color: $brown-color;
          }
          span {
            width: 100%;
          }
          @include mq-s {
            width: 100%;
            max-width: 100%;
            margin-right: 0px;
            margin-bottom: 10px;
            &:first-child {
              max-width: 100% !important;
              margin-right: 0px !important;
            }
          }
        }
      }
    }

    header.header {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      padding: $gutter/2 0;
      z-index: 3000;
      flex-wrap: wrap;
      @include vertical-gradient($brown-color,$brown-R,$brown-V,$brown-B);


      .header-info {
        width: 100%;
        padding: 10px;
        font-size: 1.5rem;
        line-height: 2rem;
        color: white;
        text-align: center;
        margin-top: -$gutter/2;
        margin-bottom: $gutter/2;
        @include mq-s {
          font-size: 1.2rem;
          line-height: 1.4rem;
        }
      }

      > .wrapper {
        @include wrapper($max-width, $pourcent-content);
        > .logo {
          flex: auto;
          @include width-col(160px);
          @include mq-s {
            @include width-col(155px);
          }
          > a {
            @include width-col(100%);
          }
        }
        > nav {
          flex: auto;
          display: flex;
          align-items: center;
          > i.icon {
            width: 100%;
            color: white;
            display: none;
            font-size: 3rem;
            text-align: right;
            cursor: pointer;
            z-index: 100;
            position: relative;
            @include mq-s {
              display: block;
              font-size: 2rem;
            }
          }
          > ul {
            width: 100%;
            text-align: right;
            @include mq-s {
              position: fixed;
              top: 0;
              left: 0;
              height: 100vh;
              display: none;
              background-color: rgba(0, 0, 0, 0.8);
              padding-top: 200px;
              &.opened {
                display: block;
              }
            }
            > li {
              position: relative;
              display: inline-block;
              @include mq-s {
                display: block;
                text-align: center;
              }
              > a {
                color: white;
                display: block;
                font-weight: 500;
                font-size: 1.2rem;
                letter-spacing: 1px;
                padding: 1rem;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;
                padding: 0.7rem;
                @include mq-s {
                  font-size: 1.2rem;
                  padding: 1rem;
                }
              }
              &.active, &:hover {
                > a {
                  background-color: $gold-color;
                }
              }
              > ul {
                width: 250%;
                bottom: -185%;
                left: 0%;
                display: none;
                position: absolute;
                background-color: white;
                border: 1px solid $brown-color;
                > li {
                  display: block;
                  text-align: left;
                  border-bottom: 1px solid $brown-color;
                  &:last-child {
                    border-bottom: none;
                  }
                  > a {
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    padding: 10px;
                    font-size: 0.9rem;
                  }
                }
              }
              &:hover {
                > ul {
                  display: block;
                  @include mq-s {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      &.scroll {
        top: 0;
        padding: $gutter/2 0;
        position: fixed;

        .header-info {
          font-size: 1.5rem;
          line-height: 2rem;
          @include mq-s {
            font-size: 1.2rem;
            line-height: 1.4rem;
          }
        }

        > .wrapper {
          > .logo {
            @include width-col(160px);
            @include mq-s {
              @include width-col(140px);
            }
          }
          > nav {
            > i.icon {
              font-size: 2rem;
            }
            > ul {
              > li {
                > a {
                  font-size: 1rem;
                  padding: 0.7rem;
                  @include mq-s {
                    font-size: 1.2rem;
                    padding: 1rem;
                  }
                }
                &.active, &:hover {
                  > a {
                    background-color: $gold-color;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.homepage-template {
      header.header {
        z-index: 3000;
        position: absolute;
        &.scroll {
          position: fixed;
        }
      }
    }

    div.swiper-container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      @include mq-s {
        height: 60vh;
      }
      .swiper-slide {
        background-size: cover;
      }
    }

    div.swiper-content {
      top: 0;
      left: 0;
      z-index: 1500;
      width: 100%;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      position: absolute;
      > div {
        width: 50%;
        margin: auto;
        text-align: center;
        color: white !important;
        text-shadow: 0px 0px 10px #0A0403;
        h1 {
          font-size: 2rem;
          line-height: 2.4rem;
          text-align: center;
          color: white !important;
        }
        p {
          font-size: 1.4rem;
          line-height: 1.8rem;
          color: white !important;
        }
      }
    }

    div.content[role="main"] {
      padding-bottom: $gutter;
      width: 100%;

      .rotate-building {
        display: none;
      }

      .wrapper-immo {
        @include wrapper($max-width, $pourcent-content);
        padding: $gutter/2 0;
      }

      .building-container {
        h2.sector-title {
          color: $gold-color;
          font-size: 1rem;
          text-transform: uppercase;
          margin: 0.5rem 0;
        }
        h2.building-title {
          color: $brown-color;
          font-size: 0.9rem;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        .building-details {
          background-color: rgba($brown-R,$brown-V,$brown-B,0.1);
          .building-status-details {
            span.total_lots {
              display: inline-block;
              min-width: 20px;
            }
          }
        }
        #table_list_lots {
          tr.selected-lot-list {
            background-color: #c4b187;
            td {
              padding-top: 0.5rem !important;
              &.btn-group {
                padding-left: 20px !important;
                background-color: #c4b187;
                .btn-list-lot {
                  padding: 0.5rem 0 !important;
                }
              }
            }
          }
          th {
            font-size: 1rem;
            color: $gold-color;
            padding-top: 10px;
          }
          td {
            &.btn-group {
              display: flex;
              > a {
                flex: auto;
                display: flex !important;
                color: white;
                border: none;
                padding: 5px;
                align-items: center;
                background-color: $gold-color;
                &:first-child {
                  max-width: 100px;
                  margin-right: 10px;
                  background-color: $brown-color;
                }
                > span {
                  width: 100%;
                  display: block;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      h1#title-building{
        padding: 0 10px;
      }

      #list-lot-container {
        @include wrapper($max-width, $pourcent-content);
        padding: $gutter/2 0;

        margin-top: $gutter;

        h1 {
          width: 100%;
          padding-left: 10px;
          display: block;
        }

        .wrapper-filter-list-lot {
          width: 100%;
        }

        .btn-filter {
          @extend %button-download;
          margin: 0;
          margin-right: 0.5rem;
          @include mq-s {
            margin-right: 0;
          }
          &:first-child {
            @include mq-s {
              margin-bottom: 5px;
            }
          }
        }

        #remove-filter {
          @extend %button-download;
          padding: 0.5rem 1rem;
          > i {
            color: white;
            font-size: 1rem;
          }
        }

        #list-filter {
          .action-filter {
            @include mq-s {
              display: flex;
              margin-top: 30px;
            }
            .label-remove-filter {
              @include mq-s {
                flex: auto;
                position: initial;
              }
            }
            #remove-filter {
              @include mq-s {
                flex: auto;
                margin: 0;
              }
            }
          }
        }

        .lot-item {
          background-color: #efefef;
          border-color: #aaa;
          .status-color-bullet {
            top: 0;
            width: 15px;
            height: 15px;
          }
          span.lot-details {
            font-size: 12px;
          }
          .btn-situation.btn-lot,
          .mobile-btn-lot.btn-lot.mobile-btn-situation {
            color: white;
            font-size: 1rem;
            background-color: $brown-color;
            border-color: $brown-color;
            z-index: 10;
            @include mq-s {
              margin-bottom: 5px !important;
            }
          }
          .btn-lot.iframe-btn,
          .btn-lot.mobile-btn-lot {
            color: white;
            font-size: 1rem;
            background-color: $gold-color;
            border-color: $gold-color;
            z-index: 10;
          }
        }

        #group-lot-situation {
          z-index: 1000 !important;
          @include mq-s {
            z-index: 1000 !important;
          }
          .status-color-bullet, article .status-color-bullet {
            top: -2px !important;
          }
          .lot-content {
            h2 {
              font-size: 1rem;
              .lot-title {
                font-size: 1rem;
                color: $brown-color;
              }
            }
            .group-btn {
              span.btn-lot {
                font-weight: 400;
                background-color: $brown-color;
                border-color: $brown-color;
              }
              a.btn-download-file {
                font-weight: 400;
                background-color: $gold-color;
                border-color: $gold-color;
              }
            }
          }
        }
      }

      .item-full-width {
        width: 100%;
        .item-wrapper {
          @include wrapper($max-width, $pourcent-content);
          padding: $gutter*1.5 0;
          &.item-type-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .wrapper-contact {
            width: 100%;
            display: flex;
            margin-top: $gutter/2;
            @include mq-s {
              flex-wrap: wrap;
            }
            > div {
              flex: auto;
              margin-top: $gutter/2;
              &:first-child {
                width: 30%;
                max-width: 30%;
                @include mq-s {
                  width: 65%;
                  max-width: 65%;
                }
                > img {
                  max-width: 180px;
                  margin-bottom: 1rem;
                }
                > p {
                  font-weight: 500;
                  font-size: 1.1rem;
                  line-height: 1.6rem;
                  text-align: left;
                  > a {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: $gold-color;
                    margin-top: 0.4rem;
                    text-decoration: none;
                    &:after {
                      content: '';
                      height: 1px;
                      width: 100%;
                      max-width: 172px;
                      display: block;
                      margin-top: 0.65rem;
                      background-color: $brown-color;
                    }
                  }
                }
              }
              &:last-child {
                width: 67%;
                max-width: 67%;
                @include mq-s {
                  width: 100%;
                  max-width: 100%;
                }
              }
            }
          }
          > .col {
            @include column($gutter);
            > img {
              @include width-col(100%);
            }
          }
          > .cta-list {
            width: auto;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            margin-top: $gutter;
            > .cta {
              flex: auto;
              color: white;
              padding: $gutter/4;
              margin-right: $gutter/4;
              text-transform: uppercase;
              background-color: $brown-color;
              &:last-child {
                margin-right: 0;
              }
              > a {
                color: white;
              }
            }
          }
        }
      }
      .wpcf7 {
        width: 100%;
        .screen-reader-response {
          display: none;
        }
        form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          > div {
            width: 45%;
            margin: 0 2%;
            &:first-child {
              width: 100%;
              margin: 0;
            }
            > p {
              text-align: left;
              margin: 0 0 1.1rem 0;
              > label {
                font-size: 0.8rem;
              }
              > span {
                padding: 0;
                margin: 0;
                width: 100%;
                max-width: 100%;
                > input, > select {
                  padding: 0.5rem 0.25rem;
                  margin: 0;
                  width: calc(100% - 0.5rem);
                  max-width: 100%;
                  border: 1px solid #efefef;
                  &.wpcf7-not-valid {
                    border-color: red;
                  }
                }
                > select {
                  width: 101%;
                  max-width: 101%;
                  padding: 0.4rem 0.25rem;
                  -webkit-appearance: button;
                  -webkit-border-radius: 2px;
                  -webkit-padding-end: 20px;
                  -webkit-padding-start: 2px;
                  -webkit-user-select: none;
                  background-image: url('../images/select-list.png');
                  background-color: #fff;
                  background-position: 97% center;
                  background-repeat: no-repeat;
                  border: 1px solid #efefef;
                  color: #555;
                  font-size: 0.8rem;
                  overflow: hidden;
                  white-space: nowrap;
                }
                span.wpcf7-not-valid-tip {
                  color: red;
                  font-size: 0.8rem;
                  display: block;
                }
              }
            }
          }
          > p {
            width: 96%;
            text-align: left;
            margin: 0 0 0.5rem 2%;
            > label {
              font-size: 0.8rem;
            }
            > span {
              max-width: 100%;

              > textarea {
                width: 97%;
                min-width: 97%;
                max-width: 97%;
                border: 1px solid #efefef;
                &.wpcf7-not-valid {
                  border-color: red;
                }
              }
              span.wpcf7-not-valid-tip {
                color: red;
                font-size: 0.8rem;
                display: block;
              }
            }
            > input[type="submit"] {
              color: white;
              font-weight: 600;
              border: none;
              display: block;
              float: right;
              font-size: 1rem;
              padding: 0.3rem 1rem;
              text-transform: uppercase;
              background-color: $gold-color;
            }
            .ajax-loader {
              width: 10px;
              max-width: 10px;
              display: none;
            }
          }
          .wpcf7-response-output {
            width: 100%;
            margin-bottom: 1rem;
            &.wpcf7-validation-errors {
              color: red;
            }
            &.wpcf7-mail-sent-ok {
              color: green;
              border: none;
            }
          }
        }
      }
    }

    footer[role="footer"] {
      color: white;
      background-color: $gold-color;
      > h1 {
        color: white;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: $gutter 0 $gutter/2 0;
      }
      > div.contact-footer {
        position: relative;
        > .wrapper {
          padding: $gutter 0;
          border-top: 1px solid white;
          border-bottom: 1px solid white;
          @include wrapper($max-width, $pourcent-content);
          align-items: center;
          > div {
            @include column(10%);
            img {
              width: 30%;
              max-width: 30%;
              display: block;
              float: left;
              margin-right: $gutter/2;
              @include mq-s {
                width: 40%;
                max-width: 40%;
                margin-right: 0;
              }
            }
            .footer-cta {
              width: 60%;
              float: right;
              @include mq-s {
                width: 100%;
                margin-top: $gutter;
              }
              > a {
                color: white;
                font-weight: bold;
                display: block;
                text-align: center;
                &.button {
                  margin-bottom: 0.5rem;
                  text-align: center;
                  padding: $gutter/2 0;
                  text-transform: uppercase;
                  background-color: $brown-color;
                  @include mq-s {
                    margin-bottom: 1rem;
                  }
                }
              }
            }
            p {
              font-weight: bold;
              color: $brown-color;
              font-size: 1.5rem;
              @include mq-s {
                font-size: 1.2rem;
              }
              a {
                color: white;
                margin-top: 0.4rem;
                margin-bottom: $gutter;
                font-weight: bold;
                display: block;
              }
              &.small-txt {
                font-weight: 300;
                font-size: 0.9rem;
                color: $brown-color;
                line-height: 1.2rem;
                margin-top: 0px;
                @include mq-s {
                  font-size: 0.8rem;
                }
              }
            }
          }
          &:after {
            width: 4rem;
            height: 2rem;
            color: white;
            content: 'ou';
            display: block;
            font-size: 2rem;
            position: absolute;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            left: calc(50% - 2rem);
            @include mq-s {
              margin-top: $gutter;
            }
          }
        }
      }
      > div.footer {
        color: white;
        padding: $gutter 0;

        span {
          font-size: 0.7rem;
          text-transform: uppercase;
          @include mq-s {
            display: block;
            text-align: center;
          }
        }

        .developer {
          display: flex;
          @include mq-s {
            flex-wrap: wrap;
          }
        }

        .logo-developer {
          width: 30%;
          max-width: 220px;
          display: block;
          color: white;
          padding: $gutter/2 $gutter;
          &:first-child {
            margin-left: auto;
          }
          &:last-child {
            margin-right: auto;
          }
          @include mq-s {
            width: 70%;
            margin: auto;
            max-width: initial;
          }
        }

      }

      > div.sub-footer {
        color: white;
        font-size: 0.7rem;
        text-align: center;
        padding: 0.5rem 0;
        background-color: $brown-color;
      }
    }
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}