// Light
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-Light.eot');
  src: url('../fonts/eina/Eina01-Light.otf') format('truetype'),
  url('../fonts/eina/Eina01-Light.woff') format('woff'),
  url('../fonts/eina/Eina01-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-Light.svg#Eina01Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-LightItalic.eot');
  src: url('../fonts/eina/Eina01-LightItalic.otf') format('truetype'),
  url('../fonts/eina/Eina01-LightItalic.woff') format('woff'),
  url('../fonts/eina/Eina01-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-LightItalic.svg#Eina01LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

// REGULAR
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-Regular.eot');
  src: url('../fonts/eina/Eina01-Regular.otf') format('truetype'),
  url('../fonts/eina/Eina01-Regular.woff') format('woff'),
  url('../fonts/eina/Eina01-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-Regular.svg#Eina01Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-RegularItalic.eot');
  src: url('../fonts/eina/Eina01-RegularItalic.otf') format('truetype'),
  url('../fonts/eina/Eina01-RegularItalic.woff') format('woff'),
  url('../fonts/eina/Eina01-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-RegularItalic.svg#Eina01RegularItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}

// SEMI BOLD
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-SemiBold.eot');
  src: url('../fonts/eina/Eina01-SemiBold.otf') format('truetype'),
  url('../fonts/eina/Eina01-SemiBold.woff') format('woff'),
  url('../fonts/eina/Eina01-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-SemiBold.svg#Eina01SemiBold') format('svg');
  font-weight: 500;
}
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-SemiBoldItalic.eot');
  src: url('../fonts/eina/Eina01-SemiBoldItalic.otf') format('truetype'),
  url('../fonts/eina/Eina01-SemiBoldItalic.woff') format('woff'),
  url('../fonts/eina/Eina01-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-SemiBoldItalic.svg#Eina01SemiBoldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

// BOLD
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-Bold.eot');
  src: url('../fonts/eina/Eina01-Bold.otf') format('truetype'),
  url('../fonts/eina/Eina01-Bold.woff') format('woff'),
  url('../fonts/eina/Eina01-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-Bold.svg#Eina01Bold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Eina01';
  src: url('../fonts/eina/Eina01-BoldItalic.eot');
  src: url('../fonts/eina/Eina01-BoldItalic.otf') format('truetype'),
  url('../fonts/eina/Eina01-BoldItalic.woff') format('woff'),
  url('../fonts/eina/Eina01-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eina/Eina01-BoldItalic.svg#Eina01BoldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}