{% extends "partials/layout.html.twig" %}

{% block javascript_header %}
    <script src="{{ template_path_uri }}/node_modules/swiper/dist/js/swiper.min.js" type="text/javascript"></script>
{% endblock %}

{% block slideshow %}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for slide in slider %}
                <div class="swiper-slide" style="background-image: url('{{ slide['image'] }}'); background-position: {{ slide['position_vertical'] }} {{ slide['position_horizontal'] }};"></div>
            {% endfor %}
        </div>
        <div class="go-to-bottom">
            <i class="icon icon-arrow-down"></i>
        </div>
    </div>
    <div class="swiper-content">
        <div>
            {{ content_slideshow }}
        </div>
    </div>
{% endblock %}

{% block content %}

    {% for item in page_items %}
        {% if item['settings']['background_type'] == 'color' %}
            {% set style = 'background-color: ' ~ item['settings']['background_color'] %}
        {% elseif item['settings']['background_type'] == 'image' %}
            {% if item['settings']['parallax'] %}
                {% set style = "background-attachment: fixed; background-image: url('" ~ item['settings']['background_image'] ~ "')" %}
            {% else %}
                {% set style = "background-image: url('" ~ item['settings']['background_image'] ~ "')" %}
            {% endif %}
        {% endif %}
        <div class="item-full-width" style="{{ style }}">
            <div class="item-wrapper item-type-{{ item['settings']['background_type'] }}">
                {% set count_columns = 100/item['columns']|length %}
                {% for column in item['columns'] %}
                    <div class="col" style="width:{{ count_columns }}%; max-width: {{ count_columns }}%;">
                        {% if column['type']  == 'texte' %}
                            <div class="wrapper">
                                {{ column['content']  }}
                            </div>
                        {% elseif column['type'] == 'image' %}
                            <img src="{{ column['image']  }}" />
                        {% endif %}
                    </div>
                {% endfor %}
                {% if item['call_to_action'] %}
                    <ul class="cta-list">
                        {% for cta in item['call_to_action_listing'] %}
                            <li class="cta">
                                <a href="{{ cta['url'] }}" title="{{ cta['label'] }}" target="_blank">
                                    {{ cta['label'] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script type="application/javascript">
        $(document).ready(function () {
            var mySwiper = new Swiper ('.swiper-container', {
                slidesPerView: 1,
                loop: true,
                speed: 800,
                effect: 'fade',
                autoplay: {
                    delay: 3500,
                    disableOnInteraction: false,
                },
            });
            $('.fancybox').fancybox({
                width: 400,
                height: 500
            });
        });
    </script>
{% endblock %}
