<!doctype html>
<html lang="fr" class="landingpage">
    <head>
        <meta charset="utf-8">
        <title>Bienvenue au Hameau de Torny</title>
        <meta name="description" content="Promotion immobilière - Le Hameau de Torny ">
        <meta name="author" content="MEO design & communicatin | Kyle Mobilia">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ template_path }}/style_landingpage.css">
        <script src="{{ template_path }}/js/jquery-3.1.1.min.js" type="text/javascript"></script>
        {{function('wp_head')}}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5BZ3GN9');</script>
        <!-- End Google Tag Manager -->
        <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BZ3GN9"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <section class="landingpage">
            <header>
                <div class="informations">
                    <h1>Lancement exceptionnel</h1>
                    <p>Soyez les premiers à réserver l’un de nos 15 appartements en vente sur plans dès maintenant</p>
                </div>
                <div class="featured">
                    <img class="logo" src="{{ template_path }}/images/TORNY_logo.svg" alt="Logo Hameau de Torny" />
                    <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/TORNY_EXT_BAT_B_HD_01_website-1024x657.jpg" alt="Le hameau de torny ">
                    <p>15 Appartements de 2.5 à 4.5 pièces en PPE</p>
                </div>
            </header>
            <div class="container" role="main">
                <div class="content white">
                    <div class="wrapper">
                        <h1>Devenez propriétaire<br/>dès CHF 195’000.-</h1>
                    </div>
                </div>
                <div class="content grey">
                    <div class="wrapper">
                        <p>
                            La résidence « Le Hameau de Torny » est idéalement située dans l’un des charmants villages de la Glâne Fribourgeoise à quelques kilomètres de Payerne,
                            Avry et Fribourg. Les 15 appartements de 2.5 à 4.5 pièces de cette promotion sont distribués sur les 3 niveaux d’un petit immeuble. Niché au centre du village de Torny,
                            cette nouvelle construction a été conçue pour se fondre harmonieusement dans son environnement bucolique.
                        </p>
                        <a class="iframe-btn fancybox fancybox.iframe fancybox-smartcapture btn-download" href="https://tornyresidence.ch/file-request?file_id=581&post_id=2" title="Télécharger le dossier">
                            <img src="{{ template_path }}/images/BOUTON_plans_visuelsimple.png" alt="" />
                            <span>Télécharger<br/>les plans</span>
                        </a>
                        <a class="btn-download mobile" target="_blank" href="https://tornyresidence.ch/file-request?file_id=581&post_id=2" title="Télécharger le dossier">
                            <img src="{{ template_path }}/images/BOUTON_plans_visuelsimple.png" alt="" />
                            <span>Télécharger<br/>les plans</span>
                        </a>
                    </div>
                </div>
                <div class="content img">
                    <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/Torny_le_Grand-098-1024x402.jpg" alt="Intérieur 3D Résidence Torny" />
                </div>
                <div class="content img">
                    <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/TORNY_EXT_BAT_INT_002_website-2.jpg" alt="Intérieur 3D Résidence Torny" />
                </div>
                <div class="content white">
                    <div class="wrapper">
                        <p>
                            L’espace intérieur moderne, aux lignes épurées, est muni des derniers équipements assurants aux habitants une vie agréable dans des appartements lumineux.
                            Une cuisine ouverte sur le séjour crée une pièce de vie vaste et conviviale. Chaque appartement dispose également de son jardin privatif ou d’une terrasse.
                        </p>
                    </div>
                </div>
                <div class="content multi-col img">
                    <div class="col-img">
                        <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/Torny_le_Grand-097-600x446.jpg" alt="Situation Résidence Torny" />
                    </div>
                    <div class="col-img">
                        <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/Torny_le_Grand-100-600x446.jpg" alt="Situation Résidence Torny" />
                    </div>
                </div>
                <div class="content multi-col img-txt">
                    <div class="col-txt">
                        <div class="wrapper">
                            <h2>à LA CAMPAGNE, PROCHE DE LA VILLE</h2>
                            <p>
                                Le village de Torny compte environ 1000 habitants. Il est entouré de prairies, pâturages, forêt et rivière, et bénéficie de toutes les commodités à proximité,
                                que ce soit en termes de commerces ou de transports publics.
                            </p>
                            <p>
                                Au niveau des écoles, les classes primaires sont réparties entre l’école de Châtonnaye et celle de Torny.
                                Le CO de la Sarine se trouve à Avry-sur-Matran, situé à moins de 10 minutes .
                            </p>
                        </div>
                    </div>
                    <div class="col-img">
                        <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/map_projet-600x520.jpg" alt="Map Résidence Torny" />
                    </div>
                </div>
                <div class="content multi-col img-txt">
                    <div class="col-txt">
                        <div class="wrapper">
                            <h2>DISTANCES</h2>
                            <p>
                                Lausanne : 45 min.<br/>
                                Fribourg : 25 min.<br/>
                                Payerne : 10 min.<br/>
                                Avry-sur Matran : 10 min
                            </p>
                            <p>
                                Torny est très facilement accessible en transport public, un arrêt de bus est situé au pied de la résidence.
                            </p>
                        </div>
                    </div>
                    <div class="col-img">
                        <img src="https://tornyresidence.ch/wp/wp-content/uploads/2019/05/Torny_le_Grand-099-600x446.jpg" alt="Map Résidence Torny" />
                    </div>
                </div>
                <div class="content multi-col contact grey">
                    <h1>Contactez-nous</h1>
                    <div class="wrapper">
                        <div>
                            <img src="{{ template_path }}/images/manzoni_laurent.jpg" alt="Laurent Manzoni">
                            <p>Laurent Manzoni<br/><a href="tel:0041791088958">079 108 89 58</a></p>
                        </div>
                        <div>
                            {{ form_contact }}
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer">
                    <p>Une réalisation</p>
                    <a href="https://arcadimmo.ch" target="_blank" title="Logo Arcadimmo">
                        <img src="{{ template_path }}/images/ARCADIMMO_logo_def_white.svg" alt="ARCADIMMO logo" />
                    </a>
                </div>
                <div class="sub-footer">
                    <p>images non contractuelles | ©ARCADimmo 2019</p>
                </div>
            </footer>
        </section>

        <!-- HEADER WORDPRESS START -->
        {{function('wp_footer')}}
        <!-- HEADER WORDPRESS END -->

        <script>

            var wpcf7Form = document.querySelector( '.wpcf7' );

            wpcf7Form.addEventListener( 'wpcf7submit', function( event ) {

                window.dataLayer.push({
                    'event':'virtualPageView',
                    'virtualPageURL': window.location.pathname+'/success-form-submit',
                    'virtualPageTitle' : 'success-form-submit'
                });

                window.dataLayer.push({
                    'event':'formSubmitted',
                    'formName' : 'Contact Us'
                });

            }, false );

            document.addEventListener( 'formSubmitted', function( event ) {
                console.log('SEND VIRTUAL PAGE VIEW');
            }, false );

            window.addEventListener( 'formSubmitted', function( event ) {
                console.log('SEND formSubmitted');
            }, false );

        </script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('.fancybox-smartcapture').fancybox({
                    width: 500,
                    height: 700
                });
            });
        </script>

    </body>
</html>
