{% extends "partials/layout.html.twig" %}

{% block content %}
    <div class="item-full-width">
        <div class="item-wrapper">
            <h1>Contactez-nous</h1>
            <div class="wrapper-contact">
                <div>
                    <img src="{{ template_path_uri }}/images/manzoni_laurent.jpg" alt="Laurent Manzoni">
                    <p>Laurent Manzoni<br/><a href="tel:0041791088958">079 108 89 58</a></p>
                </div>
                <div>
                    {{ form_contact }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}