{% extends "partials/layout.html.twig" %}

{% block content %}

        {% for item in page_items %}

            {% if item['settings']['background_type'] == 'color' %}
                {% set style = 'background-color: ' ~ item['settings']['background_color'] %}
            {% elseif item['settings']['background_type'] == 'image' %}
                {% if item['settings']['parallax'] %}
                    {% set style = "background-attachment: fixed; background-image: url('" ~ item['settings']['background_image'] ~ "')" %}
                {% else %}
                    {% set style = "background-image: url('" ~ item['settings']['background_image'] ~ "')" %}
                {% endif %}
            {% endif %}

            <div class="item-full-width" style="{{ style }}">
                <div class="item-wrapper item-type-{{ item['settings']['background_type'] }}">
                    {% set count_columns = 100/item['columns']|length %}
                    {% for column in item['columns'] %}
                        <div class="col" style="width:{{ count_columns }}%; max-width: {{ count_columns }}%;">
                            {% if column['type']  == 'texte' %}
                                <div class="wrapper">
                                    {{ column['content']  }}
                                </div>
                            {% elseif column['type'] == 'image' %}
                                <img src="{{ column['image']  }}" />
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if item['call_to_action'] %}
                        <ul class="cta-list">
                            {% for cta in item['call_to_action_listing'] %}
                                <li class="cta">
                                    <a href="{{ cta['url'] }}" title="{{ cta['label'] }}" target="_blank">
                                        {{ cta['label'] }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% if lateral_popup %}
            <div class="popup-sidbar">
                <div class="container">
                    <i class="icon icon-arrow-right"></i>
                    <iframe title="Smartcapture form"
                            src="{{ file_request }}?file_id=581&post_id=34">
                    </iframe>
                </div>
            </div>
        {% endif %}

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({
                width: 400,
                height: 500
            });

            $(window).scroll(function () {
                openedPopupSlide();
            });

            $('.popup-sidbar .icon').click(function(){
                closedPopupSlide();
                $('.popup-sidbar').addClass('closed');
            });

        });

        function closedPopupSlide() {
            $('.popup-sidbar .container').css('transform','translate(100%,-50%)');
            $('.popup-sidbar').removeClass('opened');
            $('.popup-sidbar').fadeOut('fast');
        }

        function openedPopupSlide() {
            var topWindow = $(window).scrollTop();
            if($('.popup-sidbar').length) {
                if(topWindow >= 50) {
                    if($('.popup-sidbar').hasClass('opened') == false && $('.popup-sidbar').hasClass('closed') == false) {
                        $('.popup-sidbar').fadeIn('fast');
                        $('.popup-sidbar').addClass('opened');
                        $('.popup-sidbar .container').css('transform','translate(0,-50%)');
                    }
                }else{
                    closedPopupSlide();
                }
            }
        }
    </script>
{% endblock %}