<div class="swiper-container swiper-container-fade swiper-container-initialized swiper-container-horizontal">
<div class="swiper-wrapper" style="transition-duration: 300ms;"><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" style="background-image: url(&quot;https://tornyresidence.ch/wp/wp-content/uploads/2019/05/TORNY_EXT_BAT_B_HD_01_website.jpg&quot;); background-position: center center; width: 1541px; transition-duration: 300ms; opacity: 0; transform: translate3d(0px, 0px, 0px);" data-swiper-slide-index="2"></div>
    <div class="swiper-slide swiper-slide-prev" style="background-image: url(&quot;https://tornyresidence.ch/wp/wp-content/uploads/2019/05/Torny_le_Grand-098.jpg&quot;); background-position: center center; width: 1541px; transition-duration: 300ms; opacity: 0; transform: translate3d(-1541px, 0px, 0px);" data-swiper-slide-index="0"></div>
    <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;https://tornyresidence.ch/wp/wp-content/uploads/2019/05/TORNY_EXT_BAT_INT_002_website-2.jpg&quot;); background-position: center center; width: 1541px; transition-duration: 300ms; opacity: 1; transform: translate3d(-3082px, 0px, 0px);" data-swiper-slide-index="1"></div>
    <div class="swiper-slide swiper-slide-next" style="background-image: url(&quot;https://tornyresidence.ch/wp/wp-content/uploads/2019/05/TORNY_EXT_BAT_B_HD_01_website.jpg&quot;); background-position: center center; width: 1541px; transition-duration: 300ms; opacity: 0; transform: translate3d(-4623px, 0px, 0px);" data-swiper-slide-index="2"></div>
    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" style="background-image: url(&quot;https://tornyresidence.ch/wp/wp-content/uploads/2019/05/Torny_le_Grand-098.jpg&quot;); background-position: center center; width: 1541px; transition-duration: 300ms; opacity: 0; transform: translate3d(-6164px, 0px, 0px);" data-swiper-slide-index="0"></div></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>