<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ metadata['title'] }} | {{ options['blogname'] }}</title>
    <meta name="description" content="{{ metadata['description'] }}">
    <meta name="author" content="MEO design & communicatin | Kyle Mobilia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ template_path_uri }}/style.css">
    <link rel="stylesheet" href="{{ template_path_uri }}/css-plugin/swiper.min.css">
    <script src="{{ template_path_uri }}/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="{{ template_path_uri }}/js/header.js" type="text/javascript"></script>
    <script src="{{ template_path_uri }}/js/swiper.min.js" type="text/javascript"></script>
    {% block head %}{% endblock %}
    {% block style %}{% endblock %}
    {% block javascript_header %}{% endblock %}
    {{function('wp_head')}}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5BZ3GN9');</script>
    <!-- End Google Tag Manager -->
    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
</head>
<body class="{{ class }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BZ3GN9"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="loader" class="weebox-loader">
        <div class="showbox"><div class="loader-content"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div></div><div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <header class="header" role="header">

        {% if header_info_status == 'enabled' %}
            <div class="header-info" style="background-color: {{ header_info['color'] }}">
                {{ header_info['txt'] }}
            </div>
        {% endif %}

        <div class="wrapper">
            <div class="logo">
                <a href="{{ options['home'] }}" title="{{ options['blogname'] }}">
                    <img src="{{ template_path_uri }}/images/TORNY_logo.svg" alt="Logo hameau de Torny" />
                </a>
            </div>
            <nav>
                <ul class="menu">
                    {% for menu in menus %}
                        {% set current_menu = (menu.object_id == post.id ) ? 'active' : '' %}
                        <li class="{{ current_menu }}">
                            <a href="{{ menu.url }}" title="{{ menu.title }}">
                                {{ menu.title }}
                            </a>
                            {% if menu.childs is defined %}
                                <ul>
                                    {% for child in menu.childs %}
                                        <li>
                                            <a href="{{ child.url }}" title="{{ child.title }}">
                                                {{ child.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <i class="icon icon-bars"></i>
            </nav>
        </div>
    </header>
    {% block slideshow %}{% endblock %}
    <div class="content" role="main">
        {% block content %}{% endblock %}
    </div>
    <footer role="footer">
        {% if show_footer_contact %}
            <h1>Contactez-nous</h1>
            <div class="contact-footer">
                <div class="wrapper">
                    <div>
                        <div class="wrapper">
                            <img src="{{ template_path_uri }}/images/manzoni_laurent.jpg" alt="Laurent Manzoni">
                            <p class="small-txt">
                                Vous pouvez contacter<br/>Laurent Manzoni directement<br/>par téléphone
                            </p>
                            <p>
                                Laurent Manzoni
                                <br/>
                                <a href="tel:0041791088958">079 108 89 58</a>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="wrapper">
                            <div class="footer-cta">
                                <a class="button" href="/contact" title="Formulaire de contact">
                                    Formulaire de contact
                                </a>
                                <a href="mailto:info@tornyresidence.ch" title="Contact email">
                                    info@tornyresidence.ch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="footer">
            <div class="developer">
                {% for developer in logos_footer %}
                    <a class="logo-developer" target="_blank" href="{{ developer.developer_url }}" title="{{ developer.company }}">
                        <span>{{ developer.function }}</span>
                        <img src="{{ developer.logo }}" alt="{{ developer.company }}">
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="sub-footer">
            <p>images non contractuelles | ©ARCADimmo 2019</p>
        </div>
    </footer>

    {% block script %}{% endblock %}

    <script>
        $(document).ready(function () {
            // CLEAN LOADER
            {% if lateral_popup %}
                setTimeout(function(){
                    $('#loader').fadeOut();
                }, 1600);
            {% else %}
                setTimeout(function(){
                    $('#loader').fadeOut();
                }, 600);
            {% endif %}
        });
    </script>

    <!-- FOOTER WORDPRESS START -->
    {{function('wp_footer')}}
    <!-- FOOTER WORDPRESS END -->
</body>
</html>