
@mixin wrapper($max-width, $pourcent-content) {
  width: $pourcent-content;
  max-width: $max-width;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@mixin column($gutter-value) {
  flex: auto;
  display: flex;
  align-items: center;
  @include mq-s {
    width: 100% !important;
    max-width: 100% !important;
    margin-top: $gutter;
    &:first-child {
      margin-top: 0;
    }
  }
  > .wrapper {
    margin: auto;
    width: calc(100% - #{$gutter-value*2});
    @include mq-s {
      width: 100%;
      text-align: center;
      > h1 {
        text-align: center;
      }
    }
  }
}

@mixin column-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  > img {
    width: 100%;
    max-width: 100%;
  }
}

@mixin width-col($width) {
  width: $width;
  max-width: $width;
}

@mixin vertical-gradient($hexa-color,$color-r,$color-v,$color-b) {
  background: rgb($color-r,$color-v,$color-b);
  background: -moz-linear-gradient(0deg, rgba($color-r,$color-v,$color-b,0.5) 0%, rgba($color-r,$color-v,$color-b,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba($color-r,$color-v,$color-b,0.5) 0%, rgba($color-r,$color-v,$color-b,1) 100%);
  background: linear-gradient(0deg, rgba($color-r,$color-v,$color-b,0.5) 0%, rgba($color-r,$color-v,$color-b,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$hexa-color,endColorstr=$hexa-color,GradientType=1);
}

