$gutter: 40px;
$gutter-x: 80px;

$red-color: #A31414;
$gold-color: #C49A3B;
$light-grey-color: #D5C8BC;
$brown-color: #4A3C2C;

$brown-R: 74;
$brown-V: 60;
$brown-B: 44;

$font-size: 18px;

$max-width: 1200px;
$pourcent-content: 85%;